footer{
        display: flex;
        background-color: black  ;
        margin-top: 10px;
        color: orange;
}
.left {
        width: 38%;
        display: inline-block;
        float: right;
        align-items: center;
        
}
.left > img {
        width: 70%;
}

.right {
        width: 33%;
        display: inline-block;
        float: left;
        align-items: center;
}
.right > img {
        width: 70%;
}
.center {
        width: 33%;
        text-align: center;
        display: flex;
        align-items: center;
        
}

a{
        color: orange;
}
