.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 800,
  'GRAD' 0,
  'opsz' 48;
}

body {
    font-family: sans-serif;
}

header {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
}

nav {
    background-color: black;
    color: darkorange;
    padding: 5px;
    font-weight: bold;
}
nav > .three-bars {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
nav > ul {
    overflow: hidden;
    text-align: center;
    height: 0px;
    animation-duration: .6s;
    animation-fill-mode: forwards;
}
nav > ul > li {
    margin: 10px auto 10px auto;
    list-style: none;
}
nav > ul > li > a > span {
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
}
nav > ul > li > a > p {
    font-size: 18px;
}
hr {
    opacity: .5;
}
nav > ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: darkorange;
}
@keyframes increaseMenu {
    from {
        height: 0px;
    } to {
        height: 230px;
    }
}
@keyframes decreaseMenu {
    from {
        height: 230px;
    } to {
        height: 0px;
    }
}

@media only screen and (min-width: 600px) {
    nav > .three-bars {
        font-size: 60px;
    }
    nav > ul {
        animation-fill-mode: forwards;
    }
    @keyframes increaseMenu {
        from {
            height: 0px;
        } to {
            height: 260px;
        }
    }
    @keyframes decreaseMenu {
        from {
            height: 260px;
        } to {
            height: 0px;
        }
    }
    nav > ul > li > a {
        margin: auto;
    }
    nav > ul > li > a > p {
        font-size: 25px;
    }
    nav > ul > li > a > .material-symbols-outlined {
        width: fit-content;
        font-size: 25px;
    }
}