/* Início História das Animações */
#main {
    
    margin: auto;
    padding: 10px;
    text-align: center;
    
}
#main > article > p, h2, h3 {
    text-align: justify;
    margin-bottom: 10px;
}
#main > h1 {
    text-align: center;
}
#main > article {
    background-color: whitesmoke;
    padding: 10px;
}
#main > article > hr {
    margin-bottom: 10px;
}
#main > article > img {
    width: 80%;
    margin-bottom: 10px;
}
#main > .main-img-container {
    margin: auto;
    width: 90%;
    height: 160px;
    overflow: hidden;
}
#main > .main-img-container > img {
    width: 100%;
}

#main > aside {
    padding: 10px;
}
#main > aside > .link1, .link2, .link3 {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.350);
    border-radius: 10px;
    margin: 10px auto;
    width: 100%;
}
#main > aside > .link1 {
    background-image: url(../img/equipe-trabalhando.jpg);
    background-position: center;
    background-size: 100%;
    display: flex;
    height: 200px;
    align-items: flex-end;
    justify-content: center;
}
#main > aside > .link1 > h2 {
    display: flex;
    width: 100%;
    height: 25%;
    color: white;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}
#main > aside > .link1:hover {
    cursor: pointer;
    background-size: 110%;
    transition: 1s;
}
#main > aside > .link2 {
    background-image: url(../img/podium-animations.jpg);
    background-position: center;
    background-size: 100%;
    display: flex;
    height: 200px;
    align-items: flex-end;
    justify-content: center;
}
#main > aside > .link2 > h2 {
    display: flex;
    width: 100%;
    height: 25%;
    color: white;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,0.350);
}
#main > aside > .link2:hover {
    cursor: pointer;
    background-size: 110%;
    transition: 1s;
}
#main > aside > .link3 {
    background-image: url(../img/dreamworks.jpg);
    background-position: center;
    background-size: 100%;
    display: flex;
    height: 200px;
    align-items: flex-end;
    justify-content: center;
}
#main > aside > .link3 > h2 {
    display: flex;
    width: 100%;
    height: 25%;
    color: white;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,0.350);
}
#main > aside > .link3:hover {
    cursor: pointer;
    background-size: 110%;
    transition: 1s;
}
/* Final História das Animações */

/* Início Quem Somos */


@media only screen and (min-width: 600px) {
    #main {
        margin: auto;
    }
    #main > article {
        margin: auto;
        text-align: center;
    }
    #main > article > img {
        width: 70%;
    }
    #main > .main-img-container {
        margin: auto;
        width: 95%;
    }

    #main > aside > .link1 {
        height: 250px;
    }
    #main > aside > .link2 {
        height: 250px;
    }
    #main > aside > .link3 {
        height: 250px;
    }
}

@media only screen and (min-width: 1024px) {
    #main {
        padding: 25px;
    }
    #main > article {
        display: inline-block;
    }
    #main > article > h2 {
        margin-top: 20px;
    }
    #main > aside {
        float: right;
    }
    #main > .main-img-container {
        width: 99%;
        margin: auto;
        height: 300px;
        overflow: hidden;
    }
    
    #main > aside {
        text-align: center;
    }
    #main > aside > .link1 {
        width: 80%;
    }
    #main > aside > .link2 {
        width: 80%;
    }
    #main > aside > .link3 {
        width: 80%;
    }
    #main > aside > .link1, .link2, .link3 {
        margin-top: 30px;
    }
}