* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}

.slider {
    height: 230px;
    overflow: hidden;
}
.slides {
    width: 100%;
}
.slides:not(:first-child) {
    display: none;
}
.dots-container {
    margin-top: -25px;
    text-align: center;
}
.dots {
    border: 2px solid darkorange;
    background-color: transparent;
    border-radius: 50%;
    height: 13px;
    width: 13px;
}
.dots:not(:last-child) {
    margin-right: 10px;
}
.dots:hover {
    cursor: pointer;
    background-color: darkorange;
    transition: .5s;
}
.active {
    background-color: darkorange;
    transition: .5s;
}

.title {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: darkorange;
    color: rgb(255, 255, 255);
}
main > .row1 > p {
    display: inline-flex;
}
main > .row2 > p {
    display: inline-flex;
}
main > .row3 > p {
    display: inline-flex;
}

main {
    margin-top: 10px;
}
main > .row1 {
    padding: 5px;
}
main > .row1 > .title > span {
    margin-right: 10px;
} 
main > .row1 > a {
    display: flex;
    justify-content: center;
}
main > .row1 > a > img {
    width: 100%;
}
main > .row1 > p {
    margin: 10px 0px;
    text-align: justify;
}

main {
    margin-top: 10px;
}
main > .row2 {
    padding: 5px;
}
main > .row2 > .title > span {
    margin-right: 10px;
} 
main > .row2 > a {
    display: flex;
    justify-content: center;
}
main > .row2 > a > img {
    width: 100%;
}
main > .row2 > p {
    margin: 10px 0px;
    text-align: justify;
}

main {
    margin-top: 10px;
}
main > .row3 {
    padding: 5px;
}
main > .row3 > .title > span {
    margin-right: 10px;
} 
main > .row3 > a {
    display: flex;
    justify-content: center;
}
main > .row3 > a > img {
    width: 80%;
}
main > .row3 > p {
    margin: 10px 0px;
    text-align: justify;
}


@media only screen and (min-width: 600px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}

    main > .row1 > .title {
        border-radius: 0px 60px 60px 0px;
    }
    main > .row1 > a {
        margin-top: 10px;
    }
    main > .row1 > p {
        float: right;
        margin-right: 35px;
    }

    main > .row2 > .title {
        border-radius: 60px 0px 0px 60px;
        float: right;
    }
    main > .row2 > a {
        margin-top: 10px;
        margin-bottom: 10px;
        float: right;
    }
    main > .row2 > p {
        float: left;
        margin-right: 20px;
        margin-top: 10px;
    }

    main > .row3 > .title {
        border-radius: 0px 60px 60px 0px;
    }
    main > .row3 > a {
        margin-top: 10px;
    }
    main > .row3 > p {
        float: right;
        margin-right: 35px;
    }
}    

@media only screen and (min-width: 1024px) {
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}

    main > div > p {
        margin-top: 25%;
    }
}